body {
    text-align: center;
    font-family: "Tahoma";
}

aside{
    background-image: url('Capas/vinho.jpg');
    background-size: cover;
    width: 30%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    color: white;
    text-align: left;
}

img.asd {
    vertical-align: middle;
    width: 20px;
    margin-right: 15px;
}

h1 {
    color: whitesmoke;
    font-style: italic;
    text-transform: uppercase;
    border: 2px dotted mistyrose;
}

h3 {
    color: whitesmoke;
}

h3.asd {
    text-align: center;
    background-image: url(Capas/fundo.jpg);
    color: maroon;
}

h4 {
    color: whitesmoke;
}

h4.mPrinc {
    position: relative;
    color: whitesmoke;
    z-index: 1;
}

h4.mPrinc::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
    background-image: url(Capas/fundo.jpg);
    background-size: cover;
    opacity: 0.5;
}

span {
    text-decoration: underline;
    color: gold;
    margin-right: 5px;
}

main {
    background-color: maroon;
    width: 70%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    color: white;
}

table {
    margin: 100px;
    border-collapse: collapse;
    margin-top: 30px;
    margin-bottom: 20px;
}

td {
    border: 3px dashed indianred;
}

tr img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

table img {
    width: 150px;
    height: 200px;
    object-fit: cover;
}